.pageContainer {
  background: url(https://right2write4everyone.files.wordpress.com/2020/05/rg.png);
  height: 80px;
  width: 80px;
  padding-top: 50px;
}

.logo {
  background-color: white;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  font-family: Poppins;
  font-size: 60px;
  font-weight: 450;
  color: red;
  margin: auto;
}

.heading {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  color: red;
  padding-top: 20px;
}

body {
  background: #dcc5cd;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
  color: #545454;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 800px;
  padding: 2em 2em 4em;
}
